.App-tasks{
    width:65%;
    margin:35px auto 0;
}
.App-title{
    color: #2e3e51;
    display: inline
}
.top-bar{
    margin-bottom: 40px;
}
.error-text{
    font-size:$med-text-size;
    color:$dark-clr;
}

