@import url('https://fonts.googleapis.com/css?family=Lato');

$header-clr:#273C50;
$bg-clr:#F5F7F9;
$dark-clr:#96a4b7;
$green-clr:#5ac597;
$light-clr:#fff;
$error-bg-clr:#ffebe8;
$success-bg-clr:#f6fffb;
$success-font-clr:#5ec498;
$error-font-clr:#e74c3c;


$Vsmall-text-size: 12px;
$small-text-size: 14px;
$regular-text-size:16px;
$med-text-size:24px;


$lato:'Lato';
$open-sans:'Open sans',sans-serif;
